<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>PÁGINA PRINCIPAL</h1>

    <form th:action="@{/login}" method="get">
        <button sec:authorize="isAnonymous()" type="submit">Login</button>
    </form>

    <form th:action="@{/logout}" method="post">
        <button sec:authorize="isAuthenticated()" type="submit">Logout</button>
    </form>
</body>
</html>